<!DOCTYPE html>
<style type="text/css">
    body {
        padding: 0px;
        margin: 0px;
        background-color: rgb(18, 18, 18);
        font-family: Arial, Helvetica, sans-serif;
    }

    .naglowek {
        background-color: black;
        color: white;
        height: 180px;
        width: 100%;
        font-size: 20px;
        font-weight: bold;
    }
    .napis{
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
</style>
<html>
<head>
    <title></title>
</head>
<body>
{% block Body %}
<div class="napis">
    <center>ZMIEN SWOJ LOGIN:</Center>
    <form action="{{ url_for('changeNick') }}" method="POST">
        Login do czatowania: <input type="text" name="loginValue" id="loginValue"><br>
        <input type="submit" value="Zmien nick!!">
    </form>
</div>
{% endblock %}
</body>
</html>