<!DOCTYPE html>
<style type="text/css">
    body {
        padding: 0px;
        margin: 0px;
        background-color: rgb(18, 18, 18);
        font-family: Arial, Helvetica, sans-serif;
    }
    #message
    {
        height:300px;
        width: 500px;
        font-size:14pt;
    }

    #buttonToSendValue
    {
        width: 500px;
        height:40px;
        font-size: 20px;
        background: white;
    }

    .naglowek {
        background-color: black;
        color: white;
        height: 180px;
        width: 100%;
        font-size: 20px;
        font-weight: bold;
    }
    .napis{
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
    .napis2{
        color: red;
        font-size: 12px;
        font-weight: bold;
    }
</style>
<html >

<html>
<head>
    <title>PROSTY CZAT INTERNETOWY</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
    </script>
    <script>
        setInterval(function(){ $("#posts").load("{{ url_for('posts') }}")},1000)
    </script>
</head>
<body>
<center>
        <div class="naglowek">
        <center></a><h1>CZAT INTERNETOWY</h1></center>
        </br>
        </br>
        <a href="{{ url_for('Login') }}">LOGOWANIE</a> <a href="{{ url_for('logOut') }}">WYLOGUJ</a> <a href="{{ url_for('changeNick') }}">ZMIEN NICK</a>
        </div>
        <h1><div class="napis">Wiadomosci na czacie:</div></h1>
        <h3><div class="napis">Strona automatycznie odswieza sie co sekundę...</div></h3>
        <div id="posts" >
        </div>
        </br>
    <form action="{{ url_for('add') }}" method="POST">
        <div class="napis"><label>Treść wiadomości:</label></br></div>
        <input  type="text" name="message" id="message"></br>
        </br>
        </br>
        </br>
        <input type="submit" name="submit" id="buttonToSendValue" value="wyślij wiadomość!">
    </form>
    </br>
    </br>
    </br>
    </br>
</center>

</body>
</html>