<!DOCTYPE html>
<style type="text/css">
    body {
        padding: 0px;
        margin: 0px;
        background-color: rgb(18, 18, 18);
        font-family: Arial, Helvetica, sans-serif;
    }
    #message
    {
        height:300px;
        width: 500px;
        font-size:14pt;
    }

    #buttonToSendValue
    {
        width: 500px;
        height:40px;
        font-size: 20px;
        background: white;
    }

    .naglowek {
        background-color: black;
        color: white;
        height: 180px;
        width: 100%;
        font-size: 20px;
        font-weight: bold;
    }
    .napis{
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
    .napis2{
        color: red;
        font-size: 12px;
        font-weight: bold;
    }
</style>
<head>
    <meta http-equiv="refresh" content="5">
    <title></title>
</head>
<body>
<center>
{% for m in messages %}
    <div class="napis2">
    {{ m.postAuthor }}
    {{ m.postDate }}</br>
    </div>
    <div class="napis">
    {{ m.postText }}</br>
    </div>
{% endfor %}
</center>
</body>
</html>